/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

section{border: 1px solid red;}

*,
*:before,
*:after{margin: 0; padding: 0; box-sizing: border-box;}


/* ===========================
   USO DEL FONT
   =========================== */

body {
  font-family: 'SaveurSans', sans-serif;
}
