/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */
/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

/* ==========================================================================
 * Base styles
 * ========================================================================== */

:root {

  /* Color */
  --color-lava: #d60f1a;
  --color-prussian-blue: #053354;
  --color-light-indigo: #5b6fc7;
  --color-desert: #caad66;
  --color-amour: #ebebeb;
  --color-jet: #312e31;

  /* Font size scale */
  --font-size-xxl: clamp(2.25rem, 1.5vw + 1.5rem, 3rem);
  --font-size-xl: clamp(1.75rem, 1.2vw + 1rem, 2.25rem);
  --font-size-lg: clamp(1.25rem, 0.9vw + 0.75rem, 1.5rem);
  --font-size-md: clamp(1rem, 0.5vw + 0.75rem, 1.25rem);
  --font-size-sm: clamp(0.875rem, 0.4vw + 0.625rem, 1rem);

  /* Layout */
  --container-width: 94%;
  --container-max-width-lg: 1340px;
  --container-max-width-md: 940px;
  --container-max-width-sm: 740px;

  /* Spacing scale */
  --space-xxxl: 8rem;   /* ~128px */
  --space-xxl: 5rem;    /* ~80px */
  --space-xl: 4rem;     /* ~64px */
  --space-lg: 3rem;     /* ~48px */
  --space-md: 2rem;     /* ~32px */
  --space-sm: 1.5rem;   /* ~24px */
  --space-xs: 1rem;     /* ~16px */

  /* Shadow */
  --shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:last-child {
  margin-block-end: 0;
}

body {
  font-family: 'CorporativeSansRd', sans-serif;
  color: var(--color-prussian-blue);
}

section {
  margin-block-start: var(--space-xxxl);
}

h1, h2, h3, h4, h5, h6, p, li {
  margin-block-end: var(--space-xs);
  text-wrap: wrap pretty;
}

p, ul, ol {
  font-size: var(--font-size-md);
  opacity: 0.70;
  line-height: 1.5;
}

ul, ol {
  margin-left: var(--space-md);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: var(--container-width);
  margin-inline: auto;
  max-width: var(--container-max-width-lg);
}

/* ==========================================================================
 * Helpers
 * ========================================================================== */


/* ==========================================================================
   Button
   ========================================================================== */

.button {
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 1ch;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  transition: 0.5s;
  cursor: pointer;
  margin-block-start: var(--space-xs);
}

.button i {
  font-size: var(--font-size-md);
  transition: 0.5s;
}

.button:hover i {
  transform: translateX(25%);
}

.button--primary {
  color: var(--color-amour);
  background: linear-gradient(90deg, var(--color-prussian-blue), var(--color-light-indigo));
}

.button--primary:hover {
  background: linear-gradient(90deg, var(--color-prussian-blue), var(--color-prussian-blue));
}

.button--outline {
  color: var(--color-light-indigo);
  border: 2px solid var(--color-light-indigo);
}

.button--outline:hover {
  color: var(--color-amour);
  background: var(--color-light-indigo);
}

/* ==========================================================================
 *  Navbar
 * ========================================================================== */

.navbar {
  width: 100%;
  position: fixed;
  top: var(--space-xs);
  left: 0;
  z-index: 999;
}

.navbar ul, .navbar ol, .navbar li {
  opacity: 1;
  margin: 0;
  padding: 0;
}

.navbar .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 0.5rem;
  padding: var(--space-sm) var(--space-md);
  box-shadow: var(--shadow);
  row-gap: var(--space-lg);
  flex-wrap: wrap;
}

.navbar__menu__credits {
  display: none;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
}

.navbar__logo {
  max-width: 200px;
  width: 100%;
}

.navbar__menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  list-style: none;
  padding-inline-start: 0;
  margin-left: 0;
}

.navbar__menu__list > li a {
  margin: 0;
  cursor: pointer;
  opacity: 0.95;
}

.navbar__menu__list li a,
.navbar__menu__list .dropdown {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1ch;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  font-family: "SaveurSans", sans-serif;
  color: var(--color-prussian-blue);
  white-space: nowrap;
}

.navbar__menu__list li i {
  font-size: var(--font-size-md);
}

.navbar__menu__list .dropdown {
  display: inline-flex;
  cursor: pointer;
}

.navbar__menu__list .dropdown .dropdown__icon {
  transition: 0.5s;
}

.navbar__menu__list .dropdown--active .dropdown__icon {
  transform: rotate(180deg);
}

.navbar__menu__list .dropdown .sub-menu {
  position: absolute;
  top: var(--space-xxl);
  left: 50%;
  background: white;
  padding: var(--space-md);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  box-shadow: var(--shadow);
  border-radius: 0.75rem;
  margin-left: 0;
  transform: translateX(-50%) translateY(10%);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.navbar__menu__list .dropdown--active .sub-menu {
  display: flex;
  visibility: visible;
  transform: translateX(-50%) translateY(0%);
  opacity: 1;
}

.navbar__menu__list li {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar__menu__list li::after {
  content: '';
  position: absolute;
  bottom: -25%;
  left: 0;
  height: 3px;
  width: 0;
  border-radius: 2px;
  background: var(--color-amour);
  transition: 0.5s;
}

.navbar__menu__list li:hover::after {
  width: 100%;
}

.navbar__menu__cta {
  margin: 0;
}

.navbar__toggle {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.navbar__toggle__item {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: var(--color-prussian-blue);
  width: 24px;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

.navbar__toggle__item:nth-child(1) {
  transform: translateY(calc(-50% - 3px)) rotate(0);
}

.navbar__toggle__item:nth-child(2) {
  transform: translateY(calc(-50% + 3px)) rotate(0);
}

.navbar__toggle--open .navbar__toggle__item:nth-child(1) {
  transform: translateY(calc(-50%)) rotate(45deg);
}

.navbar__toggle--open .navbar__toggle__item:nth-child(2) {
  transform: translateY(calc(-50%)) rotate(-45deg);
}

.navbar__toggle {
  display: none;
}

@media (max-width: 1024px) {

  .navbar .container {
    display: block;
    padding: var(--space-md);
  }

  .navbar__logo {
    max-width: 130px;
  }

  .navbar__menu__credits {
    width: 100%;
    display: block;
    text-align: right;
    font-size: 0.75rem;
  }

  .navbar__menu__credits a {
    color: inherit;
  }

  .navbar__toggle {
    display: block;
  }

  .navbar .wrapped {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__menu,
  .navbar__menu__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    width: 100%;
  }

  .navbar__menu {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    gap: var(--space-xl);
    align-items: flex-start;
  }

  .navbar__menu--open {
    max-height: 999px;
    visibility: visible;
    opacity: 1;
  }

  .navbar__menu__list {
    margin-top: var(--space-xl) !important;
    gap: var(--space-lg);
  }

  .navbar__menu__list li {
    width: 100%;
  }

  .navbar__menu__list li a,
  .navbar__menu__list .dropdown {
    font-size: var(--font-size-md);
  }

  .navbar__menu__list li::after {
    display: none;
  }

  .navbar__menu__list .dropdown .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    background: unset;
    padding: var(--space-xs) var(--space-md);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    box-shadow: unset;
    border-radius: unset;
    transform: unset;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: 0.5s;
  }

  .navbar__menu__list .dropdown--active .sub-menu {
    display: flex;
    visibility: visible;
    transform: unset;
    opacity: 1;
    max-height: 999px;
  }
}

/* ==========================================================================
 * Text Block
 * ========================================================================== */

.text .container {
  display: flex;
  gap: var(--space-xs) var(--space-lg);
  flex-wrap: wrap;
}

.text__heading__media {
  max-width: 100px;
}

.text__heading h2 {
  font-size: var(--font-size-xxl);
}

.text--color-prussian-blue .text__heading h2 {
  color: var(--color-prussian-blue);
}

.text--color-lava .text__heading h2 {
  color: var(--color-lava);
}

.text--color-light-indigo .text__heading h2 {
  color: var(--color-light-indigo);
}

.text--center .container {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--container-max-width-sm);
}

.text--center .text__heading__media {
  margin-inline: auto;
}

.text--side .text__heading,
.text--side .text__body {
  flex: 1 0 400px;
}

/* ==========================================================================
 * Features Block
 * ========================================================================== */

.features {
  margin-block-start: var(--space-xl);
}

.features .container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: var(--space-lg);
  flex-wrap: wrap;
}

.feature {
  flex: 0 1 300px;
  text-align: center;
}

.feature__image {
  max-width: 100px;
  margin-inline: auto;
  margin-block-end: var(--space-xs);
  transition: 0.5s;
}

.feature:hover .feature__image {
  transform: translateY(-25%);
}

.feature__text h3 {
  font-size: var(--font-size-lg);
}

.feature__text p {
  font-size: var(--font-size-sm);
}

/* ==========================================================================
 *  Banner Block
 * ========================================================================== */

.banner .container {
  padding: var(--space-xxl) var(--space-lg);
  color: var(--color-amour);
  border-radius: 1rem;
  position: relative;
}

.banner--prussian-blue .container {
  background: var(--color-prussian-blue);
}

.banner--lava .container {
  background: var(--color-lava);
}

.banner--light-indigo .container {
  background: var(--color-light-indigo);
}


.banner__tagline {
  position: absolute;
  top: 0;
  left: var(--space-lg);
  color: var(--color-lava);
  font-family: 'SaveurSans', sans-serif;
  text-transform: uppercase;
  transform: translateY(-125%);
}

.banner__tagline h2 {
  font-size: var(--font-size-sm);
  display: inline-flex;
  align-items: center;
  gap: 1ch;
}

.banner__tagline h2 i {
  font-size: var(--font-size-md);
}

.banner__layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--space-xl) var(--space-md);
}

.banner__layout .banner__column--intro {
  display: grid;
  place-items: center;
}

.banner__layout .banner__column--intro p {
  font-size: var(--font-size-xl);
  font-weight: 500;
  opacity: 1;
}

.banner__layout .banner__column--content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xl) var(--space-md);
}

.banner__layout .banner__group {
  flex: 1 0 300px;
}

.banner__group .banner__subtitle {
  font-size: var(--font-size-lg);
  margin-block-end: var(--space-md);
}

.banner__group .banner__grid {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding-left: var(--space-xs);
  border-left: 1px solid var(--color-amour);
}

.banner__grid .banner__item {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.banner__grid .banner__item-media {
  width: 30%;
  max-width: 4rem;
  transition: 0.5s;
}

.banner__grid .banner__item:hover .banner__item-media {
  transform: translateY(-25%);
}

.banner__grid .banner__item-text p {
  font-size: var(--font-size-sm);
  opacity: 0.75;
}

@media (max-width: 1024px) {
  .banner__layout {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .banner .container {
    padding: var(--space-xl) var(--space-md);
  }

  .banner__tagline {
    left: var(--space-md);
  }
}


/* ==========================================================================
 *  Cards
 * ========================================================================== */

.cards {
  margin-block-start: var(--space-xl);
}

.cards .container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  justify-content: center;
}

.cards .card {
  flex: 1 1 350px;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  color: var(--color-amour);
  padding: var(--space-lg) var(--space-md);
  border-radius: 1rem;
}

.card--color-prussian-blue {
  background: var(--color-prussian-blue);
}

.card--color-lava {
  background: var(--color-lava);
}

.card--color-light-indigo {
  background: var(--color-light-indigo);
}

.card__header {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.card__header__icon {
  max-width: 48px;
  width: 30%;
  transition: 0.5s;
}

.cards .card:hover .card__header__icon {
  transform: translateY(-25%);
}

.card__header h3 {
  font-size: var(--font-size-lg);
}

.card__body p {
  font-size: var(--font-size-sm);
  text-align: justify;
}

/* ==========================================================================
 *  Bento Grid
 * ========================================================================== */

.bento .container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

.bento__item {
  border-radius: 1rem;
  overflow: hidden;
  flex: 1 1 500px;
}

.bento__item:nth-child(5n+3),
.bento__item:nth-child(5n+4),
.bento__item:nth-child(5n+5) {
  flex: 1 1 300px;
}


.bento__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.bento__item img:hover {
  transform: scale(1.1);
}



/* ==========================================================================
 *  Media Panel
 * ========================================================================== */

.media-panel .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-lg);
}

.media-panel--reverse .container {
  flex-direction: row-reverse;
}

.media-panel__image{
  border-radius: 1rem;
  overflow: hidden;
  flex: 1 1 350px;
}

.media-panel__image img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.media-panel__image:hover img{
  transform: scale(1.1);
}

.media-panel__text {
  flex: 1 1 450px;
}

.media-panel__text__tagline {
  font-size: var(--font-size-sm);
  display: block;
  margin-block-end: var(--space-xs);
  font-family: "SaveurSans", sans-serif;
  text-transform: uppercase;
  color: var(--color-light-indigo);
}

.media-panel__text__heading{
  font-size: var(--font-size-xl);
}

.media-panel__text__heading p{
  font-size: var(--font-size-sm);
}

















