/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles
   ========================================================================== */

:root {

  /* Color */
  --color-lava: #d60f1a;
  --color-prussian-blue: #053354;
  --color-light-indigo: #5b6fc7;
  --color-desert: #caad66;
  --color-amour: #ebebeb;
  --color-jet: #312e31;

  /* Font size scale */
  --font-size-xxl: clamp(2.25rem, 1.5vw + 1.5rem, 3rem);
  --font-size-xl: clamp(1.75rem, 1.2vw + 1rem, 2.25rem);
  --font-size-lg: clamp(1.25rem, 0.9vw + 0.75rem, 1.5rem);
  --font-size-md: clamp(1rem, 0.5vw + 0.75rem, 1.25rem);
  --font-size-sm: clamp(0.875rem, 0.4vw + 0.625rem, 1rem);

  /* Layout */
  --container-max-width: 1340px;

  /* Spacing scale */
  --space-xxl: 6rem; /* ~96px */
  --space-xl: 5rem; /* ~80px */
  --space-lg: 4rem; /* ~64px */
  --space-md: 3rem; /* ~48px */
  --space-sm: 2rem; /* ~32px */
  --space-xs: 1rem; /* ~16px */
}


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:last-child {
  margin-block-end: 0;
}


body {
  font-family: 'CorporativeSansRd', sans-serif;
}

section {
  border: 1px solid red;
  margin-block-start: var(--space-xl)
}

h1, h2, h3, h4, h5, h6, p {
  margin-block-end: 1rem
}

.container {
  border: 1px solid blue;
  width: 86%;
  margin-inline: auto;
  max-width: 1340px;
}


/* ==========================================================================
   Helpers
   ========================================================================== */


/* ==========================================================================
   Button
   ========================================================================== */

.button {
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 1ch;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  transition: 0.5s;
  cursor: pointer;
}

.button i {
  font-size: var(--font-size-md);
}

.button--primary {
  color: var(--color-amour);
  background: linear-gradient(90deg, var(--color-prussian-blue), var(--color-light-indigo));
}

.button--primary:hover {
  color: var(--color-amour);
  background: linear-gradient(90deg, var(--color-prussian-blue), var(--color-prussian-blue));
}

.button--outline {
  color: var(--color-light-indigo);
  border: 2px solid var(--color-light-indigo);
}

.button--outline:hover {
  color: var(--color-amour);
  background: var(--color-light-indigo);
}


/* ==========================================================================
   Text
   ========================================================================== */
.text








