/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles
   ========================================================================== */

:root {

  /* Color */
  --color-lava: #d60f1a;
  --color-prussian-blue: #053354;
  --color-light-indigo: #5b6fc7;
  --color-desert: #caad66;
  --color-amour: #ebebeb;
  --color-jet: #312e31;

  /* Font size scale */
  --font-size-xxl: clamp(2.25rem, 1.5vw + 1.5rem, 3rem);
  --font-size-xl: clamp(1.75rem, 1.2vw + 1rem, 2.25rem);
  --font-size-lg: clamp(1.25rem, 0.9vw + 0.75rem, 1.5rem);
  --font-size-md: clamp(1rem, 0.5vw + 0.75rem, 1.25rem);
  --font-size-sm: clamp(0.875rem, 0.4vw + 0.625rem, 1rem);

  /* Layout */
  --container-max-width-lg: 1340px;
  --container-max-width-md: 940px;
  --container-max-width-sm: 740px;

  /* Spacing scale */
  --space-xxl: 6rem; /* ~96px */
  --space-xl: 5rem; /* ~80px */
  --space-lg: 4rem; /* ~64px */
  --space-md: 3rem; /* ~48px */
  --space-sm: 2rem; /* ~32px */
  --space-xs: 1rem; /* ~16px */
}


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:last-child {
  margin-block-end: 0;
}


body {
  font-family: 'CorporativeSansRd', sans-serif;
  color: var(--color-prussian-blue);
}

section {
  border: 1px solid red;
  margin-block-start: var(--space-xl)
}

h1, h2, h3, h4, h5, h6, p, li {
  margin-block-end: var(--space-xs);
  text-wrap: wrap pretty;
}

p, ul, ol {
  font-size: var(--font-size-md);
  opacity: 0.5;
  line-height: 1.5;
}

ul, ol {
  margin-left: var(--space-sm)
}

img {
  width: 100%;
  height: auto
}

.container {
  border: 1px solid blue;
  width: 86%;
  margin-inline: auto;
  max-width: var(--container-max-width-lg);
}


/* ==========================================================================
   Helpers
   ========================================================================== */


/* ==========================================================================
   Button
   ========================================================================== */

.button {
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 1ch;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  transition: 0.5s;
  cursor: pointer;
  margin-block-start: var(--space-xs);
}

.button i {
  font-size: var(--font-size-md);
  transition: 0.5s;
}

.button:hover i {
  transform: translateX(25%);
}

.button--primary {
  color: var(--color-amour);
  background: linear-gradient(90deg, var(--color-prussian-blue), var(--color-light-indigo));
}

.button--primary:hover {
  color: var(--color-amour);
  background: linear-gradient(90deg, var(--color-prussian-blue), var(--color-prussian-blue));
}

.button--outline {
  color: var(--color-light-indigo);
  border: 2px solid var(--color-light-indigo);
}

.button--outline:hover {
  color: var(--color-amour);
  background: var(--color-light-indigo);
}


/* ==========================================================================
   Text Block
   ========================================================================== */

.text .container {
  display: flex;
  gap: var(--space-sm) var(--space-md);
  flex-wrap: wrap;
}

.text__heading__media {
  max-width: 100px;
}

.text__heading h2 {
  font-size: var(--font-size-xxl);
}

.text--color-prussian-blue .text__heading h2 {
  color: var(--color-prussian-blue);
}

.text--color-lava .text__heading h2 {
  color: var(--color-lava);
}

.text--color-light-indigo .text__heading h2 {
  color: var(--color-light-indigo);
}

.text--center .container {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--container-max-width-sm);
}

.text--center .text__heading__media {
  margin-inline: auto
}

.text--side .text__heading,
.text--side .text__body {
  flex: 1 0 400px;
}


/* ==========================================================================
   Features Block
   ========================================================================== */

.features .container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: var(--space-md);
  flex-wrap: wrap;
}

.feature {
  border: 1px solid var(--color-light-indigo);
  flex: 0 1 300px;
  text-align: center;
}

.feature__image {
  max-width: 100px;
  margin-inline: auto;
  margin-block-end: var(--space-xs);
  transition: 0.5s;
}

.feature:hover .feature__image {
  transform: translateY(-25%)
}

.feature__text h3 {
  font-size: var(--font-size-lg);
}

.feature__text p {
  font-size: var(--font-size-sm);
}


/* ==========================================================================
   Banner Block
   ========================================================================== */

.banner .container {
  padding: var(--space-xl) var(--space-md);
  color: var(--color-amour);
  border-radius: 1rem;
}

.banner--prussian-blue .container {
  background: var(--color-prussian-blue);
}

.banner--lava .container {
  background: var(--color-lava);
}

.banner--light-indigo .container {
  background: var(--color-light-indigo);
}

.banner__tagline {
  position: absolute;
  top: 0;
  left: var(--space-md);
  color: var(--color-lava);
  font-family: 'SaveurSans', sans-serif;
  text-transform: uppercase;
  transform: translateY(-125%);

}

.banner__tagline h2 {
  font-size: var(--font-size-sm);
  display: inline-flex;
  align-items: center;
  gap: 1ch;
}

.banner__tagline h2 i {
  font-size: var(--font-size-md);
}


.banner__layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--space-sm);
}

.banner__layout .banner__column--intro {
  display: grid;
  place-items: center;
}

.banner__layout .banner__column--intro p {
  font-size: var(--font-size-xl);
  font-weight: 500;
  opacity: 1;
}

.banner__layout .banner__column--content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
}

.banner__layout .banner__group {
  flex: 1 0 300px;
}

.banner__group .banner__subtitle {
  font-size: var(--font-size-lg);
  margin-block-end: var(--space-sm);
}

.banner__group .banner__grid {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding-left: var(--space-xs);
  border-left: 1px solid var(--color-amour);
}

.banner__grid .banner__item {
  display: flex;;
  align-items: center;
  gap: var(--space-xs);
}

.banner__grid .banner__item-media {
  max-width: 4rem;
}

.banner__grid .banner__item-text p {
  font-size: var(--font-size-sm);
  opacity: 0.75;

}


@media (max-width: 840px) {
  .banner__layout {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
  }
}
