@font-face {
    font-family: 'CorporativeSansRd Black It';
    src: url('CorporativeSansRd-BlackIt.eot');
    src: local('CorporativeSansRd Black It'), local('CorporativeSansRd-BlackIt'),
        url('CorporativeSansRd-BlackIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-BlackIt.woff2') format('woff2'),
        url('CorporativeSansRd-BlackIt.woff') format('woff'),
        url('CorporativeSansRd-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRdAlt Hair';
    src: url('CorporativeSansRdAlt-Hair.eot');
    src: local('CorporativeSansRdAlt Hair'), local('CorporativeSansRdAlt-Hair'),
        url('CorporativeSansRdAlt-Hair.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-Hair.woff2') format('woff2'),
        url('CorporativeSansRdAlt-Hair.woff') format('woff'),
        url('CorporativeSansRdAlt-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRdAlt';
    src: url('CorporativeSansRdAlt-Medium.eot');
    src: local('CorporativeSansRdAlt Medium'), local('CorporativeSansRdAlt-Medium'),
        url('CorporativeSansRdAlt-Medium.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-Medium.woff2') format('woff2'),
        url('CorporativeSansRdAlt-Medium.woff') format('woff'),
        url('CorporativeSansRdAlt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRdAlt Book';
    src: url('CorporativeSansRdAlt-Book.eot');
    src: local('CorporativeSansRdAlt Book'), local('CorporativeSansRdAlt-Book'),
        url('CorporativeSansRdAlt-Book.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-Book.woff2') format('woff2'),
        url('CorporativeSansRdAlt-Book.woff') format('woff'),
        url('CorporativeSansRdAlt-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRdAlt Medium It';
    src: url('CorporativeSansRdAlt-MediumIt.eot');
    src: local('CorporativeSansRdAlt Medium It'), local('CorporativeSansRdAlt-MediumIt'),
        url('CorporativeSansRdAlt-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-MediumIt.woff2') format('woff2'),
        url('CorporativeSansRdAlt-MediumIt.woff') format('woff'),
        url('CorporativeSansRdAlt-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRd Bold It';
    src: url('CorporativeSansRd-BoldIt.eot');
    src: local('CorporativeSansRd Bold It'), local('CorporativeSansRd-BoldIt'),
        url('CorporativeSansRd-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-BoldIt.woff2') format('woff2'),
        url('CorporativeSansRd-BoldIt.woff') format('woff'),
        url('CorporativeSansRd-BoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRd';
    src: url('CorporativeSansRd-Black.eot');
    src: local('CorporativeSansRd Black'), local('CorporativeSansRd-Black'),
        url('CorporativeSansRd-Black.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-Black.woff2') format('woff2'),
        url('CorporativeSansRd-Black.woff') format('woff'),
        url('CorporativeSansRd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRdAlt Hair It';
    src: url('CorporativeSansRdAlt-HairIt.eot');
    src: local('CorporativeSansRdAlt Hair It'), local('CorporativeSansRdAlt-HairIt'),
        url('CorporativeSansRdAlt-HairIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-HairIt.woff2') format('woff2'),
        url('CorporativeSansRdAlt-HairIt.woff') format('woff'),
        url('CorporativeSansRdAlt-HairIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRdAlt Black It';
    src: url('CorporativeSansRdAlt-BlackIt.eot');
    src: local('CorporativeSansRdAlt Black It'), local('CorporativeSansRdAlt-BlackIt'),
        url('CorporativeSansRdAlt-BlackIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-BlackIt.woff2') format('woff2'),
        url('CorporativeSansRdAlt-BlackIt.woff') format('woff'),
        url('CorporativeSansRdAlt-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRdAlt It';
    src: url('CorporativeSansRdAlt-RegularIt.eot');
    src: local('CorporativeSansRdAlt Regular It'), local('CorporativeSansRdAlt-RegularIt'),
        url('CorporativeSansRdAlt-RegularIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-RegularIt.woff2') format('woff2'),
        url('CorporativeSansRdAlt-RegularIt.woff') format('woff'),
        url('CorporativeSansRdAlt-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRdAlt';
    src: url('CorporativeSansRdAlt-Regular.eot');
    src: local('CorporativeSansRdAlt Regular'), local('CorporativeSansRdAlt-Regular'),
        url('CorporativeSansRdAlt-Regular.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-Regular.woff2') format('woff2'),
        url('CorporativeSansRdAlt-Regular.woff') format('woff'),
        url('CorporativeSansRdAlt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRdAlt';
    src: url('CorporativeSansRdAlt-Bold.eot');
    src: local('CorporativeSansRdAlt Bold'), local('CorporativeSansRdAlt-Bold'),
        url('CorporativeSansRdAlt-Bold.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-Bold.woff2') format('woff2'),
        url('CorporativeSansRdAlt-Bold.woff') format('woff'),
        url('CorporativeSansRdAlt-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRd Hair';
    src: url('CorporativeSansRd-Hair.eot');
    src: local('CorporativeSansRd Hair'), local('CorporativeSansRd-Hair'),
        url('CorporativeSansRd-Hair.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-Hair.woff2') format('woff2'),
        url('CorporativeSansRd-Hair.woff') format('woff'),
        url('CorporativeSansRd-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRd Book It';
    src: url('CorporativeSansRd-BookIt.eot');
    src: local('CorporativeSansRd Book It'), local('CorporativeSansRd-BookIt'),
        url('CorporativeSansRd-BookIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-BookIt.woff2') format('woff2'),
        url('CorporativeSansRd-BookIt.woff') format('woff'),
        url('CorporativeSansRd-BookIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRdAlt Book It';
    src: url('CorporativeSansRdAlt-BookIt.eot');
    src: local('CorporativeSansRdAlt Book It'), local('CorporativeSansRdAlt-BookIt'),
        url('CorporativeSansRdAlt-BookIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-BookIt.woff2') format('woff2'),
        url('CorporativeSansRdAlt-BookIt.woff') format('woff'),
        url('CorporativeSansRdAlt-BookIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRdAlt Light It';
    src: url('CorporativeSansRdAlt-LightIt.eot');
    src: local('CorporativeSansRdAlt Light It'), local('CorporativeSansRdAlt-LightIt'),
        url('CorporativeSansRdAlt-LightIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-LightIt.woff2') format('woff2'),
        url('CorporativeSansRdAlt-LightIt.woff') format('woff'),
        url('CorporativeSansRdAlt-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRdAlt';
    src: url('CorporativeSansRdAlt-Black.eot');
    src: local('CorporativeSansRdAlt Black'), local('CorporativeSansRdAlt-Black'),
        url('CorporativeSansRdAlt-Black.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-Black.woff2') format('woff2'),
        url('CorporativeSansRdAlt-Black.woff') format('woff'),
        url('CorporativeSansRdAlt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRd Hair It';
    src: url('CorporativeSansRd-HairIt.eot');
    src: local('CorporativeSansRd Hair It'), local('CorporativeSansRd-HairIt'),
        url('CorporativeSansRd-HairIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-HairIt.woff2') format('woff2'),
        url('CorporativeSansRd-HairIt.woff') format('woff'),
        url('CorporativeSansRd-HairIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRdAlt Bold It';
    src: url('CorporativeSansRdAlt-BoldIt.eot');
    src: local('CorporativeSansRdAlt Bold It'), local('CorporativeSansRdAlt-BoldIt'),
        url('CorporativeSansRdAlt-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-BoldIt.woff2') format('woff2'),
        url('CorporativeSansRdAlt-BoldIt.woff') format('woff'),
        url('CorporativeSansRdAlt-BoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRd';
    src: url('CorporativeSansRd-Light.eot');
    src: local('CorporativeSansRd Light'), local('CorporativeSansRd-Light'),
        url('CorporativeSansRd-Light.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-Light.woff2') format('woff2'),
        url('CorporativeSansRd-Light.woff') format('woff'),
        url('CorporativeSansRd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRd Book';
    src: url('CorporativeSansRd-Book.eot');
    src: local('CorporativeSansRd Book'), local('CorporativeSansRd-Book'),
        url('CorporativeSansRd-Book.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-Book.woff2') format('woff2'),
        url('CorporativeSansRd-Book.woff') format('woff'),
        url('CorporativeSansRd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRd';
    src: url('CorporativeSansRd-Bold.eot');
    src: local('CorporativeSansRd Bold'), local('CorporativeSansRd-Bold'),
        url('CorporativeSansRd-Bold.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-Bold.woff2') format('woff2'),
        url('CorporativeSansRd-Bold.woff') format('woff'),
        url('CorporativeSansRd-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRdAlt';
    src: url('CorporativeSansRdAlt-Light.eot');
    src: local('CorporativeSansRdAlt Light'), local('CorporativeSansRdAlt-Light'),
        url('CorporativeSansRdAlt-Light.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRdAlt-Light.woff2') format('woff2'),
        url('CorporativeSansRdAlt-Light.woff') format('woff'),
        url('CorporativeSansRdAlt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRd';
    src: url('CorporativeSansRd-Regular.eot');
    src: local('CorporativeSansRd Regular'), local('CorporativeSansRd-Regular'),
        url('CorporativeSansRd-Regular.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-Regular.woff2') format('woff2'),
        url('CorporativeSansRd-Regular.woff') format('woff'),
        url('CorporativeSansRd-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRd';
    src: url('CorporativeSansRd-Medium.eot');
    src: local('CorporativeSansRd Medium'), local('CorporativeSansRd-Medium'),
        url('CorporativeSansRd-Medium.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-Medium.woff2') format('woff2'),
        url('CorporativeSansRd-Medium.woff') format('woff'),
        url('CorporativeSansRd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRd It';
    src: url('CorporativeSansRd-RegularIt.eot');
    src: local('CorporativeSansRd Regular It'), local('CorporativeSansRd-RegularIt'),
        url('CorporativeSansRd-RegularIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-RegularIt.woff2') format('woff2'),
        url('CorporativeSansRd-RegularIt.woff') format('woff'),
        url('CorporativeSansRd-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRd Light It';
    src: url('CorporativeSansRd-LightIt.eot');
    src: local('CorporativeSansRd Light It'), local('CorporativeSansRd-LightIt'),
        url('CorporativeSansRd-LightIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-LightIt.woff2') format('woff2'),
        url('CorporativeSansRd-LightIt.woff') format('woff'),
        url('CorporativeSansRd-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRd';
    src: url('CorporativeSansRd-Thin.eot');
    src: local('CorporativeSansRd Thin'), local('CorporativeSansRd-Thin'),
        url('CorporativeSansRd-Thin.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-Thin.woff2') format('woff2'),
        url('CorporativeSansRd-Thin.woff') format('woff'),
        url('CorporativeSansRd-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'CorporativeSansRd Medium It';
    src: url('CorporativeSansRd-MediumIt.eot');
    src: local('CorporativeSansRd Medium It'), local('CorporativeSansRd-MediumIt'),
        url('CorporativeSansRd-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-MediumIt.woff2') format('woff2'),
        url('CorporativeSansRd-MediumIt.woff') format('woff'),
        url('CorporativeSansRd-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CorporativeSansRd Thin It';
    src: url('CorporativeSansRd-ThinIt.eot');
    src: local('CorporativeSansRd Thin It'), local('CorporativeSansRd-ThinIt'),
        url('CorporativeSansRd-ThinIt.eot?#iefix') format('embedded-opentype'),
        url('CorporativeSansRd-ThinIt.woff2') format('woff2'),
        url('CorporativeSansRd-ThinIt.woff') format('woff'),
        url('CorporativeSansRd-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

